#box1,#box2,#box3 {
    background-color:rgb(255, 223, 153);
    font-family:verdana;
    font-size:1.3rem;
    width: 500px;
  }
  #box2 {
    background-color: chartreuse;
    position: absolute;
    left:45px;
    top: 25px;
  }